<ion-card >
  <ion-card-header>
    <ion-card-title [@buttonSwap]="true">Purchase</ion-card-title>
    <ion-card-subtitle [@buttonSwap]="true">From tangible to virtual</ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
    <ion-item (click)="wheelHandler()">
      <ion-label>Currency</ion-label>
      <ion-label>{{this.selectedOrder}}</ion-label>
      <ion-button fill="clear" size="small" >
        <ion-icon name="caret-down"></ion-icon>
      </ion-button>
    </ion-item>
    <ion-item>
      <ion-label>Amount:</ion-label>
      <ion-input #amount (keyup)="setAmount(amount.value)" [value]="1" slot="end"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Market-Price:</ion-label>
      <ion-label>${{this.currencyPrice}} </ion-label>
    </ion-item>
    <ion-item (click)="showInfo()">
      <ion-icon color="warning" style="font-size: 15px; margin-right: 3px;" name="add-circle-outline"></ion-icon>
      <ion-label>Fee:</ion-label>
      <ion-label style="margin-left: -20px">{{this.feeNow}}%</ion-label>

    </ion-item>
    <ion-item>
      <ion-label>Total:</ion-label>
      <ion-label>${{this.currencyPriceWithFees}}</ion-label>
    </ion-item>

    <ion-item>
      <ion-label>Account balance</ion-label>
      <ion-label>{{this.accountBalance}}</ion-label>
    </ion-item>


    <ion-item lines="none" style="margin-top: 30px">
      <ion-checkbox #checkbox aria-label="Label" (ionChange)="changeCheckbox(checkbox.value)"
                    slot="start"></ion-checkbox>
      <ion-label>Accept Purchase</ion-label>
    </ion-item>
    <ion-button  [@buttonSwap]="true" (click)="buyHandler(amount.value);" size="small" color="success"
                style="width: 100%; float: inherit;">


      <ion-icon style="color: #000000; font-size: 15px;margin-left:3px;  margin-right: 3px" name="cash-outline"></ion-icon>
    </ion-button>
  </ion-card-content>
</ion-card>
