<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Miner</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Miner</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-content>
      <ion-button color="success" fill="outline" size="small">START</ion-button>

        <ion-progress-bar style="margin-top: 10px"></ion-progress-bar>


      <ion-label></ion-label>
    </ion-card-content>
  </ion-card>


</ion-content>
