<!--<div style="display: flex; justify-content: center; background-color: #0d0d0d">-->
<!--  <div style="height: 200px; width: 430px; margin-bottom: -35px; margin-top: -20px" id="echarts-container"></div>-->
<!--</div>-->


<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Marketplace</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>

    <ion-label>BTC</ion-label>

    <div style="height: 50px; width: 200px; margin-bottom: 20px; position: absolute; left: 0; margin-left: 20px" id="echarts-container"></div>

  </ion-item>

  <ion-item>
    <ion-label>{{this.someValue}}</ion-label>
  </ion-item>

</ion-content>
