<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Wallet</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content #content [fullscreen]="true">
  <ion-header style="margin-bottom: -50px" collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Wallet</ion-title>
    </ion-toolbar>
  </ion-header>


  <app-wallet></app-wallet>

  <div style="display: flex; justify-content: center">

    <ion-button fill="outline" size="small" (click)="scrollDown()">
      <ion-icon name="caret-down"></ion-icon>
    </ion-button>
  </div>

  <ion-card style="height: auto">
    <ion-card-header>
      <ion-card-title>Finances</ion-card-title>
      <ion-card-subtitle>Keep track of your finances</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Inventory</ion-card-title>
      <ion-card-subtitle>storing your Coins</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>

      <ion-grid *ngIf=" jsonObj != null" style="margin-left: 0px; margin-bottom: -5px">
        <ion-row>
          <ion-col>CURRENCY</ion-col>
          <ion-col>AMOUNT</ion-col>
          <ion-col>VALUE</ion-col>
        </ion-row>
      </ion-grid>
      <div
        style="height: auto; background: linear-gradient(90deg, #343436 0%, #222223 100%);; border-radius: 10px; margin-top: 5px"
        *ngFor="let currency of boughtCurrencyList; let index = index;">
        <ion-item lines="none">
          <ion-label>{{this.checkout.formatCurrency(currency)}}

            <!--coin texture comming soon!!!-->
            <!--            <svg style="position: absolute; top: 15px; left: 30px" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">-->
            <!--              <circle cx="8" cy="8" r="6" fill="blue" stroke="black" stroke-width="4"/>-->
            <!--            </svg>-->


          </ion-label>
          <ion-label>{{jsonObj[currency].amount}}x</ion-label>
          <ion-label slot="end">${{calculatedWorth[index]}}</ion-label>
        </ion-item>
      </div>
    </ion-card-content>
  </ion-card>


</ion-content>



