<div class="center-content" style="margin-top: 80px">
  <div>
    <label style="position: absolute;margin-left: 40px; margin-top: 50px; font-size: 28px">${{this.walletValue}}</label>
    <svg width="333" height="212" viewBox="0 0 333 212" fill="none" xmlns="http://www.w3.org/2000/svg">
      <g filter="url(#filter0_d_1_11)">
        <rect x="4" width="315.638" height="203.292" rx="19" fill="url(#paint0_linear_1_11)"/>
      </g>
      <g filter="url(#filter1_d_1_11)">
        <rect x="8.96799" y="4.96796" width="303.938" height="193.356" rx="18.5" stroke="#915E49" stroke-dasharray="5 6"
              shape-rendering="crispEdges"/>
      </g>
      <g filter="url(#filter2_d_1_11)">
        <path
          d="M251.428 87.2222C251.428 78.938 258.144 72.2222 266.428 72.2222H326C327.657 72.2222 329 73.5654 329 75.2222V129.407C329 131.064 327.657 132.407 326 132.407H266.428C258.144 132.407 251.428 125.692 251.428 117.407V87.2222Z"
          fill="url(#paint1_linear_1_11)"/>
      </g>
      <rect x="261.953" y="84.0844" width="35.1235" height="35.1235" rx="17.5617" fill="#E1AA3E" stroke="#B88436"
            stroke-width="5"/>
      <path
        d="M48.6289 36.3633H50.0586V45H48.6289V39.0586L46.6953 43.8633H45.4531L43.5078 39.0586V45H42.0781V36.3633H43.5078L46.0742 42.2695L48.6289 36.3633ZM58.2031 36.3633L55.6367 41.4844V45H54.207V41.6016L51.7695 36.3633H53.375L54.8633 40.2305H54.9922L56.5977 36.3633H58.2031ZM74 36.3633L71.668 45.0469H69.8398L68.4219 38.5312L66.9102 45.0469H65.0703L62.8789 36.3633H64.4727L65.9961 43.8164L67.6367 36.3633H69.2305L70.7539 43.8164L72.4062 36.3633H74ZM75.3359 45L78.3594 36.375H79.7539L82.7539 45H81.3008L80.6797 43.207H77.4336L76.8008 45H75.3359ZM77.7617 42.2578H80.3398L79.0625 38.5312L77.7617 42.2578ZM86.0117 36.3633V43.9336H89.9844V45H84.582V36.3633H86.0117ZM92.8555 36.3633V43.9336H96.8281V45H91.4258V36.3633H92.8555ZM99.7227 37.4297V40.1484H103.332V41.1094H99.7227V43.9336H103.695V45H98.293V36.3633H103.695V37.4297H99.7227ZM111.711 36.3633V37.3242H109.133V45H107.715V37.3242H105.137V36.3633H111.711Z"
        fill="#997463"/>
      <defs>
        <filter id="filter0_d_1_11" x="0" y="0" width="323.638" height="211.292" filterUnits="userSpaceOnUse"
                color-interpolation-filters="sRGB">
          <feFlood flood-opacity="0" result="BackgroundImageFix"/>
          <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                         result="hardAlpha"/>
          <feOffset dy="4"/>
          <feGaussianBlur stdDeviation="2"/>
          <feComposite in2="hardAlpha" operator="out"/>
          <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
          <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_1_11"/>
          <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_1_11" result="shape"/>
        </filter>
        <filter id="filter1_d_1_11" x="4.46799" y="4.46796" width="312.938" height="202.356"
                filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
          <feFlood flood-opacity="0" result="BackgroundImageFix"/>
          <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                         result="hardAlpha"/>
          <feOffset dy="4"/>
          <feGaussianBlur stdDeviation="2"/>
          <feComposite in2="hardAlpha" operator="out"/>
          <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
          <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_1_11"/>
          <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_1_11" result="shape"/>
        </filter>
        <filter id="filter2_d_1_11" x="247.428" y="72.2222" width="85.572" height="68.1852" filterUnits="userSpaceOnUse"
                color-interpolation-filters="sRGB">
          <feFlood flood-opacity="0" result="BackgroundImageFix"/>
          <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                         result="hardAlpha"/>
          <feOffset dy="4"/>
          <feGaussianBlur stdDeviation="2"/>
          <feComposite in2="hardAlpha" operator="out"/>
          <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
          <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_1_11"/>
          <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_1_11" result="shape"/>
        </filter>
        <linearGradient id="paint0_linear_1_11" x1="4" y1="0" x2="319.638" y2="203.292" gradientUnits="userSpaceOnUse">
          <stop stop-color="#6E4A3B"/>
          <stop offset="1" stop-color="#452B20"/>
        </linearGradient>
        <linearGradient id="paint1_linear_1_11" x1="251.428" y1="72.2222" x2="318.3" y2="132.407"
                        gradientUnits="userSpaceOnUse">
          <stop stop-color="#734E3E"/>
          <stop offset="1" stop-color="#3C251C"/>
        </linearGradient>
      </defs>
    </svg>
  </div>


</div>

<div style="display: flex; justify-content: center">
  <ion-button size="small" (click)="subtract()">test</ion-button>

</div>





