ion-card {
  //  background-color: transparent;
  //  //border-top: 1px solid white;
  //  border-bottom: 3px solid #383838;
  //border-radius: 0px;
  background-color: #171717;
}


.info {
font-size: 25px;
  color: #3a7be0;
}
