<ion-tabs *ngIf="hasInternet">
  <ion-tab-bar  [translucent]="true">
    <ion-tab-button class="button" tab="wallet">
      <ion-icon class="icon" name="wallet-outline"></ion-icon>
      Wallet
    </ion-tab-button>

    <ion-tab-button tab="marketplace">
      <ion-icon class="icon" name="basket-outline"></ion-icon>
      Marketplace
    </ion-tab-button>

    <ion-tab-button tab="rankings">
      <ion-icon name="trophy-outline" class=icon></ion-icon>
      Rankings
    </ion-tab-button>

    <ion-tab-button tab="miner">
      <ion-icon class="icon" name="hardware-chip-outline"></ion-icon>
      Miner
    </ion-tab-button>


    <ion-tab-button tab="checkout">
      <ion-icon name="cart-outline" class="icon"></ion-icon>
      Checkout
    </ion-tab-button>


  </ion-tab-bar>
</ion-tabs>


<div *ngIf="!hasInternet">

  <app-networkerror></app-networkerror>

</div>


