<ion-tabs>
  <ion-tab-bar [translucent]="true">

    <ion-tab-button class="button" tab="wallet">
      <ion-icon class="icon" name="wallet-outline"></ion-icon>
      Wallet
    </ion-tab-button>

    <ion-tab-button tab="marketplace">
      <ion-icon name="basket-outline"></ion-icon>
      Marketplace
    </ion-tab-button>

    <ion-tab-button tab="rankings">
      <ion-icon name="trophy-outline" class="ranking-icon"></ion-icon>
      Rankings
    </ion-tab-button>

    <ion-tab-button tab="miner">
      <ion-icon name="hardware-chip-outline"></ion-icon>
      Miner
    </ion-tab-button>


    <ion-tab-button tab="checkout">
      <ion-icon name="cart-outline" class="cart-icon"></ion-icon>
      Checkout
    </ion-tab-button>


  </ion-tab-bar>
</ion-tabs>
