@keyframes wobble {
  0% {
    transform: translateX(0) rotate(0);
  }
  25% {
    transform: translateX(-5px) rotate(-5deg);
  }
  50% {
    transform: translateX(5px) rotate(5deg);
  }
  75% {
    transform: translateX(-2px) rotate(-2deg);
  }
  100% {
    transform: translateX(0) rotate(0);
  }
}

.button:hover .icon {
  display: inline-block;
  animation: wobble 0.5s ease;
}

.icon {
  font-size: 23px;
}


//ion-tab-bar {
//
//background-color: rgba(0, 0, 0, 0);
//}
//
//ion-tab-bar {
//  position: absolute;
//  bottom: 0;
//  width: 100%;
//  background-color: rgba(0, 0, 0, 0.7);
//}



