<ion-content [fullscreen]="true">
  <ion-tabs>
    <ion-tab-bar  [translucent]="true" slot="bottom" slot="bottom">

      <ion-tab-button tab="wallet">
        <ion-icon name="wallet"></ion-icon>
        Wallet
      </ion-tab-button>

      <ion-tab-button tab="marketplace">
        <ion-icon name="basket"></ion-icon>
        Marketplace
      </ion-tab-button>

      <ion-tab-button tab="rankings">
        <ion-icon name="trophy" class="ranking-icon"></ion-icon>

        Rankings
      </ion-tab-button>

      <ion-tab-button tab="miner">
        <ion-icon name="hardware-chip-outline"></ion-icon>
        Miner
      </ion-tab-button>




      <ion-tab-button tab="checkout">
        <ion-icon name="cart" class="cart-icon"></ion-icon>
        Checkout
      </ion-tab-button>


    </ion-tab-bar>
  </ion-tabs>


</ion-content>



